!.env.example
.cache
.cache/
.docusaurus
.env
.env.*
.DS_Store
.lock-wscript
.next
.npm
.nuxt
.nyc_output
.parcel-cache
.temp
.vscode-test
*.lcov
*.log
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
**/.vitepress/cache
**/.vitepress/dist
build/Release
coverage
dist
jspm_packages/
lib-cov
logs
Logs
node_modules/
npm-debug.log*
out
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
